<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8" />
    <title>LGBT Detroit Voter's Portal</title>
    <link href="https://fonts.googleapis.com/css?family=Poiret+One|Thasadith|Unica+One" rel="stylesheet">

    <link href="main.css" rel="stylesheet" />

    <script src="main.js" charset="utf-8" defer></script>

</head>

<header></header>

<section class="header">
    <text>LGBT Detroit Voter Portal</text>
    <nav id="topnav">
        <a href="main.ejs">Home</a>
        <a href="registration.ejs">Voting Registration</a>
        <a href="">Voting Logistics</a>
        <a href="">Canidate & Policy Info</a>
        <a href="https://docs.google.com/document/d/19AHXp-iSns6ahLpi6KxnTYQE8C7m2098u4Jvy8XARpc/edit?usp=sharing">FAQ</a>
    </nav>
</section>

<aside class="sidebar">
    <button onclick="dropNavFunc()" class="dropButton">Menu</button>
    <nav id="dropDown" class="dropNav">
        <a href="main.ejs">Home</a>
        <a href="registration.ejs">Voting Registration</a>
        <a href="">Voting Logistics</a>
        <a href="">Canidate & Policy Info</a>
        <a href="https://docs.google.com/document/d/19AHXp-iSns6ahLpi6KxnTYQE8C7m2098u4Jvy8XARpc/edit?usp=sharing">FAQ</a>
    </nav>
</aside>

<section class="content">
    <div class="page-header">Voter Registration</div>
    <div class="main">Information goes here.</div>
	<iframe src="https://register.vote.org/?partner=111111&campaign=free-tools" width="100%" marginheight="0" frameborder="0" id="frame1" scrollable ="no"></iframe><script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/iframe-resizer/3.5.3/iframeResizer.min.js"></script><script type="text/javascript">iFrameResize({ log:true, checkOrigin:false});</script>
	<iframe src="https://absentee.vote.org/?partner=111111&campaign=free-tools" width="100%" marginheight="0" frameborder="0" id="frame2" scrollable="no"></iframe><script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/iframe-resizer/3.5.3/iframeResizer.min.js"></script><script type="text/javascript">iFrameResize({ log:true, checkOrigin:false});</script>
	<iframe src="https://verify.vote.org/?partner=111111&campaign=free-tools" width="100%" marginheight="0" frameborder="0" id="frame3" scrollable="no"></iframe><script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/iframe-resizer/3.5.3/iframeResizer.min.js" ></script><script type="text/javascript">iFrameResize({ log:true, checkOrigin:false});</script>
<iframe src="https://reminders.vote.org/?partner=111111&campaign=free-tools" width="100%" marginheight="0" frameborder="0" id="frame4" scrollable ="no"></iframe><script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/iframe-resizer/3.5.3/iframeResizer.min.js"></script><script type="text/javascript">iFrameResize({ log:true, checkOrigin:false});</script>
    <div class="bar-container">
        <div class="bar b1"> External link </div>
        <div class="bar b2"> External link </div>
        <div class="bar b3"> External link </div>
        <div class="bar b4"> External link </div>
        <div class="bar b5"> External link </div>
    </div>

</section>

<footer></footer>
